version: '2'

services:
    php-fpm:
        image: poplary/php-fpm
        # build: ./PHP-FPM
        volumes:
            - ./extra/www:/www

            # Choose php.ini of different environment.
            # - ./extra/config/php/php-development.ini:/usr/local/etc/php/php.ini
            # - ./extra/config/php/php-production.ini:/usr/local/etc/php/php.ini

            # php-fpm.conf
            - ./extra/config/php/php-fpm.conf:/usr/local/etc/php-fpm.conf

            # www.conf
            - ./extra/config/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf

            # Disable xdebug in production.
            # - ./extra/config/php/conf.d/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        ports:
            - "9000:9000"

    nginx:
        image: poplary/nginx
        # build: ./nginx
        volumes:
            # Custom nginx.conf, if necessary.
            # - ./extra/config/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./extra/config/nginx/conf.d:/etc/nginx/conf.d
            - ./extra/log/nginx:/var/log/nginx
            - ./extra/www:/www
        ports:
            - "8000:80"
