[client]
port = 3306
socket = /usr/local/run/mysqld.sock
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld_safe]
pid-file = /usr/local/run/mysqld.pid
socket = /usr/local/run/mysqld.sock

[mysqld]

user = mysql
pid-file = /usr/local/run/mysqld.pid
socket = /usr/local/run/mysqld.sock
port = 3306
datadir = /usr/local/var/mysql
tmpdir = /tmp
lc-messages-dir = /usr/local/apps/mysql/share
explicit_defaults_for_timestamp

character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

# skip-grant-tables
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
# bind-address = 127.0.0.1

log-error = /usr/local/var/log/mysql/error.log
symbolic-links=0

# 慢查询
slow_query_log = 1
long_query_time = 1
slow_query_log_file = /usr/local/var/log/mysql/mysql_slow.log